@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .no-transitions * {
    transition: none !important;
    animation: none !important;
  }

  * {
    @apply border-slate-200 dark:border-slate-800;
  }

  *, ::before, ::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  
  html, body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-100;
  }
}
