@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *, ::before, ::after {
    @apply transition-colors duration-300 ease-in-out;
  }
  
  html, body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-100;
  }
}
